body {
    background-color: lightgrey;
    color: blue;
  }

h1{
    color: rgb(13, 5, 54);
    font-size: 40px;
    text-align: center;
    
}
p{
    margin-top: 40px;
    margin-left: 40px;
    color: rgb(13, 5, 54);
    font-size: 25px;
    
}
button{
   
    margin-left: 40px;
    background-color: rgb(13, 5, 54);
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.delete-btn{
    margin-left: 300px;
    margin-top: auto;
    background-color: rgb(13, 5, 54);
    color: white;
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.complete-btn{
    margin-left: 40px;
    margin-top: auto;
    background-color: rgb(13, 5, 54);
    color: white;
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 10px;
    cursor: pointer;
}

.edit-btn{
    margin-left: 40px;
    margin-top: auto;
    background-color: rgb(13, 5, 54);
    color: white;
    font-size: 20px;
    padding: 3px 6px;
    border-radius: 10px;
    cursor: pointer;
}


.list-items{
    /*margin-top: auto;*/
    
    margin-left: 40px;
    padding: 10px 20px;
    font-size: 20px;
    align-items: vertical;  
    
    
}


input{
    margin-left: 40px;
    padding: 10px 20px;
    
}
.div{
    margin-top: 100px;
}